@{
    ViewBag.Title = "Index";
}

@section head {

<script>

    $(function () {

        $('h1').fadeIn(5000);
    });

</script>

}

<h1 style="display: none; text-align: center; color: #cc0000">Hello from App Harbor running on ASP.NET MVC 3!  Coded by ajondeck</h1>
