@model IList<Comment>
@{
    ViewBag.Title = "Home";
}

<div style="padding: 15px">

    <h2>Say Hi</h2>

    <br />

    <form action="/Home/Create" method="post">
    
        <span>Drop me a line below:</span><br />
    
        <textarea id="Data" name="Data" cols="40" rows="4"></textarea><br />
    
        <input type="submit" value="submit"  />

    </form>

    <br />

    @if (Model.Any())
    {

    <table>
    <tr>
        <th>
            Data
        </th>
        <th>
            Created On
        </th>
    </tr>

@foreach (var c in Model)
{
    <tr>
        <td>
            @c.Data
        </td>
        <td>
            @String.Format("{0:g}", c.CreatedOn)
        </td>
    </tr>
}

</table>
        
    }

</div>