<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title> 

    <link href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" rel="stylesheet" /> 
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" type="text/jscript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/jscript"></script>

    @RenderSection("head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
