<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
    @RenderSection("head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
