<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title> 

    <link href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" rel="stylesheet" /> 
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
    <script src="http://ajax.microsoft.com/ajax/jQuery.Validate/1.7/jQuery.Validate.min.js"></script> 
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script> 

    @RenderSection("head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
